h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  margin: 45px 140px 20px;
}
h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 25px;
  margin: 10px 125px;
}
.humid,
.windspeed {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 22px;
  margin: 10px 125px;
}

.search,
.btn-info {
  margin: 5px 450px;
  width: 100px;
}
.search {
  margin-top: -25px;
}
.main-image {
  width: 125px;
  margin: -10px 250px;
}
.main-temp {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 45px;
  margin-top: 20px;
  margin-left: -250px;
}
.row {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 55px;
}
.days-temp {
  margin-left: 195px;
}
.sun,
.mon,
.tue,
.wed,
.thu {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  width: 50px;
  margin-top: -45px;
  margin-left: 195px;
}
.git-link {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  margin-left: 550px;
}
.weatherapp {
  border: 5px solid #d9f2ff;
  margin: 35px auto;
  padding: 5px;
  width: 950px;
}
.container {
  display: block;
}
